body {
  font-family: 'Inclusive Sans', sans-serif;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: auto;

  margin: 3vh;
}

footer {
  font-family: 'Inclusive Sans', sans-serif;
  background-color: #d9792b;
  padding: 1rem;
}

footer p {
  text-align: center;
}