header {
  display: flex-end;
  justify-content: space-between;
  align-items: baseline;

  width: 100%;

  background-color: #1f4865;
  color: red;
}

h1 {
  /* Main Page Heading */
  font-size: 40px;
}

  /* Primary Navigation */
nav ul {
  display: flex;
  justify-content: flex-end;
}

nav a {
  display: block;
  padding: 1rem;
  border-radius: .5rem;

  text-align: center;
  color: #f7b684;
  text-decoration: none;

  border: 1px solid #f7b684;
}

nav a:hover {
  background-color: #d9792b;
  color: black;
}